{% extends "mail_factory/base.html" %}
{% load url from future %}
{% load i18n %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="{% url 'mail_factory_list' %}">Mail Factory</a>
        </div>
    {% endblock %}
{% endif %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.content-switcher').click(function(e) {
                    e.preventDefault();

                    var parent = $(this).parent();

                    parent.find('.focus').toggleClass('focus')

                    $('#iframe-container').html('<iframe src="' + $(this).attr('href') + '" width="650" frameborder="no" height="500"></iframe>');
                });
            });
        })(jQuery);
    </script>

    <style type="text/css">
        .focus {
            font-weight: bold;
        }

        .choices {
            margin-left: 0;
            padding-left: 0;
        }

        .choices li {
            list-style-type: none;
            float: left;
            margin-right: 10px;
        }

        .clear {
            clear: both;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="content">
            <h2>View mail</h2>
            <div>
                <ul class="choices">
                {% for language_code, language in languages %}
                    <li>
                        {{ language }}
                        <a href="{% url "mail_factory_detail" mail_name=mail_name lang=language_code mimetype="txt" %}" data-lang="{{ language_code }}" data-mimetype="txt" class="content-switcher">txt</a>
                        | <a href="{% url "mail_factory_detail" mail_name=mail_name lang=language_code mimetype="html" %}" data-lang="{{ language_code }}" data-mimetype="html" class="content-switcher">html</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>

            <div id="iframe-container">
            </div>
        <div class="content">
            <h2>Send mail</h2>
            <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Get HTML mail content" />
                    <input type="submit" name="raw" value="Get raw mail" /><br/>
                    <input type="text" name="email" value="{{ admin_email }}" />
                    <input type="submit" name="send" value="Send to mail" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
