{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'mail_factory_list' %}">Mail Factory</a>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block result_list %}
        <div class="results">
          <table id="result_list">
            <thead>
              <tr>
                <th scope="col">
                  <div class="text">Email</div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text">Template</div>
                  <div class="clear"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for template_name, mail_name in mail_map %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <th class="nowrap"><a href="{{ template_name }}/">{{ mail_name }}</a></th>
		<td>{{ template_name }}</td>
	      </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
